<html>
<head>
<title> about </title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body bgcolor="white"> 

    <body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href={{url_for("index")}}>Politic</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav nav-pills">
		<!-- Home Button -->
		<li><a href={{url_for("index")}}>Home<span class="sr-only">(current)</span></a></li>
		<!-- About Button -->
		<li class="active"><a href={{url_for("about")}}>About</a></li>
		<!-- Politicians Button -->
		<li><a href={{url_for("politicians")}}>Politicians</a></li>
		<!-- States Button -->
		<li><a href={{url_for("state")}}>States</a></li>
		<!-- Positions Button -->
		<li><a href={{url_for("positions")}}>Positions</a></li>
		</li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
    </body>


<center>

<p></p>

<img src="static/images/aboutus.jpg"  width = "900" height="100">



<h1>The group name</h1>
	<p>Politic329</p>


<h1>The group members</h1>
	<p>

	<a href={{url_for("chienchihhuang")}}>Chien Chih Huang</a> <br>

	<p></p>

	<a href={{url_for("richardseifert")}}>Richard Seifert</a><br>

	<p></p>

	<a href={{url_for("matthewlarsen")}}>Matthew Larsen</a><br>

	<p></p>

	<a href={{url_for("matthewstrasburg")}}>Matthew Strasburg</a><br>

	<p></p>

	<a href={{url_for("alanmorales")}}>Alan Morales</a><br>

	


<h1>Stats</h1>
	<h3>Total no.of commits</h3>

	<p>183</p>

	<h3>Total no.of issues</h3>

	<p>30</p>

	<a target="_blank" href="https://github.com/mattstras/mattstras.github.io/issues">GitHub Issue Tracker</a>

	<p></p>
	
	<a target="_blank" href="https://github.com/mattstras/mattstras.github.io">GitHub Repo</a>

	<p></p>

	<a target="_blank" href="https://github.com/mattstras/mattstras.github.io/wiki/Project-%233">GitHub Wiki</a>


<h1>Tools</h1>
	<a target="_blank" href="https://www.w3schools.com/html/default.asp">HTML</a><br>

	<p></p>

	<a target="_blank" href="https://www.w3schools.com/js/">JavaScript</a><br>

	<p></p>

	<a target="_blank" href="https://www.w3schools.com/css/">CSS</a><br>




</body>
</html>
