<html>
<body>
<body bgcolor="white"> 


<h1>Chien Chih Huang</h1>

<img src="static/images/CCH.jpg" alt="static/images/CCH.jpg" width="250" height="250">

<h1>Bio</h1>

<p>Chien Chih Huang is currently a senior math major student at University of Texas, at Austin. A student who enjoys exploring new area apart from his major such as computer science.</p>

<h1>Major Responsibilities</h1>

<p>Responsible for making About Page and the subpages connected each team member's introduction page</p>

<h1>no. of commits</h1>

<p>16</p>

<h1>no. of issues</h1>

<p>11</p>


<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>



</body>
</html>
