<html>
<body>
<body bgcolor="white"> 

<h1>Matthew Strasburg</h1>

<img src="static/images/mas.jpg" alt="static/images/mas.jpg" width="200" height="250">

<h1>Bio</h1>

<p>Matthew Strasburg is a senior mathematics major at the University of Texas.</p>

<h1>Major Responsibilities</h1>

<p>Matthew's reponsibilities included creating the states pages along with the table formatting for the site.</p>

<h1>no. of commits</h1>

<p>26</p>

<h1>no. of issues</h1>

<p>8</p>

<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>


</body>
</html>
