<html>
<body>
<body bgcolor="white"> 

<h1>Richard Seifert</h1>

<img src="static/images/RAS.jpg" alt="static/images/RAS.jpg" width="250" height="250">

<h1>Bio</h1>

<p>Richard is currently a junior astronomy student at the University of Texas at Austin.</p>

<h1>Major Responsibilities</h1>

<p>Responsible for making the Home Page and navigation bar.</p>

<h1>no. of commits</h1>

<p>42</p>

<h1>no. of issues</h1>

<p>1</p>

<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>


</body>
</html>
