<!DOCTYPE html>
<html>
<head>

	<style>
	p {padding-top: 5px;
    	padding-right: 30px;
    	padding-bottom: 2px;
    	padding-left: 30px;}
	h1 {padding-top: 5px;
    	padding-right: 30px;
    	padding-bottom: 2px;
    	padding-left: 30px;}
	</style>
	<style type="text/css">    
            .pg-normal {
                color: black;
                font-weight: normal;
                text-decoration: none;    
                cursor: pointer;}
            .pg-selected {
                color: black;
                font-weight: bold;        
                text-decoration: underline;
                cursor: pointer;}
	    .dataTables_paginate {
    	    margin-top: 15px;
    	    position: absolute;
    	    text-align: right;
    	    left: 40%;}	
        </style>
	
        <title>States</title>




	<!-- BOOTSTRAP STUFF -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- TABLE CSS AND JS FILES -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
	<script src="static/js/jquery.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>	
</head>

<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href={{url_for("index")}}>Politic</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav nav-pills">
		<!-- Home Button -->
		<li><a href={{url_for("index")}}>Home<span class="sr-only">(current)</span></a></li>
		<!-- About Button -->
		<li><a href={{url_for("about")}}>About</a></li>
		<!-- Politicians Button -->
		<li><a href={{url_for("politicians")}}>Politicians</a></li>
		<!-- States Button -->
		<li class="active"><a href={{url_for("state")}}>States</a></li>
		<!-- Positions Button -->
		<li><a href={{url_for("positions")}}>Positions</a></li>
		</li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

<h1>States</h1>

<table id="example" class="display nowrap" cellspacing="0" width="60%">
        <thead>
            <tr>
                <th>State</th>
                <th>Capital</th>
                <th>Population</th>
                <th>EC Votes</th>
                <th>House Delegation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href={{url_for("massachusetts")}}>Massachusetts</a></td>
    		<td>Boston</td> 
    		<td>6,794,422</td>
    		<td>11</td> 
    		<td>09 Reps (9D)</td>
            </tr>
            <tr>
                <td><a href={{url_for("wisconsin")}}>Wisconsin</a></td>
    		<td>Madison</td> 
    		<td>5,778,708</td>
    		<td>10</td> 
    		<td>08 Reps (3D 5R)</td>
            </tr>
            <tr>
                <td><a href={{url_for("newyork")}}>New York</a></td>
    		<td>Albany</td> 
    		<td>19,795,791</td>
    		<td>29</td> 
    		<td>27 Reps (18D 9R)</td>
            </tr>
            <tr>
    		<td><a href={{url_for("texas")}}>Texas</a></td>
    		<td>Austin</td> 
    		<td>27,862,596</td>
    		<td>38</td> 
    		<td>36 Reps (11D 25R)</td>
  	    </tr>
            <tr>
                <td><a href={{url_for("alaska")}}>Alaska</a></td>
    		<td>Juneau</td> 
    		<td>736,732</td>
    		<td>3</td> 
    		<td>03 Reps (3R)</td>
            </tr>
            <tr>
                <td><a href={{url_for("california")}}>California</a></td>
    		<td>Sacramento</td> 
    		<td>39,250,017</td>
    		<td>55</td> 
    		<td>52 Reps (38D 14R)</td>
            </tr>
        </tbody>
    </table>
	<script>
	$.extend( $.fn.dataTable.defaults, {
    	responsive: true } );
 
	$(document).ready(function() {
    	$('#example').DataTable({
	"iDisplayLength": 3,
	"bFilter": false,
	"bInfo": false,
	"bLengthChange": false
	}); } );
	</script>

    </body>
</html>
