<html>

	<head>
		<title>Steve Adler</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="index.html">Politic</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav nav-pills">
		<!-- Home Button -->
		<li><a href="index.html">Home<span class="sr-only">(current)</span></a></li>
		<!-- About Button -->
		<li><a href="about.html">About</a></li>
		<!-- Politicians Button -->
		<li class="active"><a href="politicians.html">Politicians</a></li>
		<!-- States Button -->
		<li><a href="state.html">States</a></li>
		<!-- Positions Button -->
		<li><a href="positions.html">Positions</a></li>
		</li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
		<div style="float: right;width:60%;padding:1em;"><img src="images/Steve_Adler.jpg" height="388"></div>
		<h1>Steve Adler</h1>
	<ul>
		<li>Role: <a href="mayor.html">Mayor of Austin</a></li>
		<li>State: <a href="massachusetts.html">Texas</a></li>
		<li>Party Affiliation: Democrat</li> 
		<li>Assumed Office: January 6, 2015</li>
		<li>Age: 61</li>
	</ul>
	</body>

</html>
